@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  @apply m-0 p-0 font-sans text-base;
}

input,
button {
  @apply text-base;
}

ul {
  @apply m-0 p-0;
}

li {
  @apply list-none;
}

a {
  @apply no-underline text-current;
}

h1,
.h1 {
  @apply text-[36px] mt-[2px] mb-4;
}

h2,
.h2 {
  @apply text-[24px] md:text-3xl mb-4;
}

h3,
.h3 {
  @apply text-xl mb-4;
}

h4,
.h4 {
  @apply text-lg mb-6;
}

h5,
.h5 {
  @apply text-base mb-10;
}

h6,
.h6 {
  @apply text-sm mb-16;
}

p {
  @apply m-0;
}

.main__container {
  @apply md:px-9 lg:px-12 px-4;
}

.mobile__container {
  padding: 41px 42px;
}

svg {
  display: inline-block !important ;
  max-height: 30px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="black" d="M242.72 256L342.63 156.09a12 12 0 0 0 0-17l-22.62-22.62a12 12 0 0 0-17 0L204.69 216.31 104.78 116.38a12 12 0 0 0-17 0L65.16 139a12 12 0 0 0 0 17L165.07 256 65.16 355.91a12 12 0 0 0 0 17l22.62 22.62a12 12 0 0 0 17 0L204.69 295.69l99.91 99.91a12 12 0 0 0 17 0l22.62-22.62a12 12 0 0 0 0-17L242.72 256z"/></svg>')
    no-repeat center center;
  background-size: contain;
}

.error-message {
  @apply mt-[-20px] mb-[10px] text-[15px] text-[#ff0033] font-semibold;
}
