.label {
  &--primary {
    @apply block text-[#919191] font-medium;
  }
}

.input {
  &--primary {
    @apply pb-1.5 border-b-2 border-black sm:w-[103px] placeholder-black font-medium text-xl md:w-52 outline-none;
  }
}
