.hero-main {
  @apply bg-none md:bg-no-repeat md:bg-cover md:bg-center md:bg-[url('/public/images/Hero.png')] pt-20 pb-40;
}

.hero-text {
  @apply text-black md:text-white font-bold text-center font-mont md:max-w-[1000px] mx-auto;
}

.hero-text > h1 {
  @apply md:leading-[80px] leading-10;
}

.hero-text > :first-child {
  @apply text-[16px] md:text-2xl;
}

.hero-text h3:nth-child(3) {
  @apply text-[#737373] md:text-white font-normal;
}

.hero-body {
  @apply flex justify-center;
}

.hero-image {
  max-width: 548px;
  width: 100%;
  @apply md:relative md:-mt-40  mb-12;
}

.hero-border {
  max-width: 884px;
  @apply md:border-b-2 border-[#E4E4E4] md:mb-16 mx-auto;
}

.btn-center {
  @apply block md:inline-block;
}

.btn-center > :first-child {
  @apply mb-6 md:mr-20 md:mb-0 shadow-2xl;
}

.btn-center > button {
  @apply block md:inline-block mx-auto md:mx-0;
}

.hero-text > :first-child {
  @apply text-[#737373] md:text-white;
}

.btn--container > :first-child {
  @apply mr-4 md:mr-10;
}
