.login {
  &__main {
    background-color: #f2f2f2;
  }

  &__image {
    @apply rounded-b-[30px] bg-white h-[250px] shadow-md;
  }

  &__page {
    @apply font-medium  pl-12 pr-12 gap-24 flex;
  }

  &__text {
    @apply w-[96px] text-center border-b-4 text-xl pb-3 border-primary;
  }

  &__forgot__password {
    @apply text-primary mt-8 mb-20 font-medium;
  }

  &__btn__main {
    @apply text-center;
  }
}

.image {
  @apply mx-auto w-[150px] h-[162.38px] mb-12 mt-12;
}

.signup-text {
  @apply text-xl;
}
