.body-main {
  @apply mt-4 pl-12 w-[190px];
}

.body-title {
  @apply font-bold text-[24px];
}

.see-more {
  @apply text-primary mt-12 text-right mr-8;
}

#Search::-webkit-search-cancel-button {
  position: relative;
  right: 20px;

  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: green;
}
