.item-card {
  &__card-main {
    @apply relative flex items-center rounded-[8px] w-[315px] p-[16px] mx-auto mb-[17px]  bg-white;
  }

  &__card-image {
    @apply w-[69.21px] h-[69.21px] rounded-[50%] mr-4;
  }

  &__details {
    @apply flex flex-1 flex-col items-start;
  }

  &__card-price {
    @apply text-[15px] text-primary;
  }

  &__details-container {
    @apply flex justify-between items-center w-full shrink-0;
  }

  &__card-name {
    @apply text-[17px] text-black flex-grow;
  }

  &__cross {
    @apply w-[20px] h-[20px] flex-shrink-0;
  }

  &__quantity-btn {
    @apply bg-transparent text-[#fff] border-0 rounded-[150px] px-[9px] py-[4px] text-[17px] cursor-pointer;
  }

  &__quantity-container {
    @apply flex items-center bg-[#fa4a0c] rounded-[30px] w-[66px] h-[27px] py-[8px] justify-center;
  }

  &__quantity {
    @apply text-[#fff] text-[15px] my-1;
  }

  &__btn-container {
    @apply flex;
  }

  &__btn-cart {
    @apply text-[13px] ml-[10px] bg-[#fa4a0c] text-white rounded-[30px] h-[27px] px-2.5;
  }
}
